:root {
  --color-primary: #ff7b54;
  --color-text-on-primary: #ffffff;
  --color-text-on-secondary: #000000;
  --color-button-border: var(--color-text-on-primary);

  --color-button-primary-bg: var(--color-text-on-primary);
  --color-button-primary-text: var(--color-primary);

  --color-button-secondary-bg: var(--color-primary);
  --color-button-secondary-text: var(--color-text-on-primary);

  --font-family: "Inter", sans-serif;
}

.body {
  font-family: var(--font-family);
}

.body--primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.body--secondary {
  background-color: var(--color-text-on-primary);
  color: var(--color-primary);
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
} */


p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0 60px;
  font-size: 26px;
  font-weight: bold;
}

.header__toggle--style {
  margin-inline-end: 36px;
}

.nav {
  display: inline-block;
  width: 100vw;
}

.nav__list {
  display: grid;
  grid-template-columns: 3fr repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0 60px;
}

.nav__list--item {
  list-style: none;
  font-size: 20px;
  margin-inline-end: 36px;
}

.create__todo {
  font-weight: bold;
}

.filter {
  justify-self: end;
}

.main__list{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 100px;
  grid-template-rows: 5fr;
  align-items: center;
  padding: 0 60px;
}

.main__list--item {
  list-style: none;
  font-size: 18px;
  margin-inline-end: 36px;
}
