@import "./base.css";

form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
    /* grid-column-gap: 1rem; */
    /* margin-bottom: 1rem; */
    max-width: 1200px;
    padding: 0 60px;
    align-items: center;
}
.field {
    grid-column: span 2;
    display: grid;
    grid: inherit;
    grid-template-columns: subgrid;
    grid-gap: inherit;
    align-items: center;
}
.checkbox {
    justify-self: flex-start;
    accent-color: var(--color-text-on-primary);
}
.button-container {
    grid-column: 2/3;
}
input, textarea, .checkbox {
    border: none;
}
input:focus {
    outline-color: var(--color-primary);
}
textarea:focus{
    outline-color: var(--color-primary);
}

/* TODO: make mobile layout */
/* @media (max-width: 550px) {
    
} */
